@import "./mixins";

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;


}

ol,
ul {
    list-style: none;
}

.conteiner {
    max-width: 1320px;
    margin: 0 auto;
}

.first {

    background:
        url(../images/Shade.png) repeat-x center bottom,
        url(../images/SymbolLongleg.png) no-repeat center bottom,
        url(../images/Frame2.svg) no-repeat center bottom,
        linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
}

.two {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    border-radius: 0px 0px 12px 12px;
    position: relative;
    margin-bottom: 100px;
}

.two::before {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 10px;
    background: url("../images/Bg.png") no-repeat center center;
    background-size: 98%;
    display: block;
    margin: auto;
    border-radius: 0px 0px 20px 20px;

}

.two::after {
    content: "";
    position: absolute;
    bottom: -20px;
    width: 100%;
    height: 10px;
    background: url("../images/Bg-2.png") no-repeat center center;
    background-size: 96%;
    display: block;
    margin: auto;
    border-radius: 0px 0px 20px 20px;

}

.header-block {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    text-decoration: none;

    .header-logo {
        line-height: 20px;

        .logo {
            display: flex;
            letter-spacing: 0.3px;
        }

        .h {
            font-size: 39px;
            display: inline-block;
            color: #F0145A;
        }

        .logo-p {
            font-size: 39px;
            color: #fff;
            text-decoration: none;
        }

        .logo-coment {
            font-size: 14.5px;
            color: #fff;
            font-family: 'TT Norms Pro', sans-serif;
        }
    }



    .header-contacts {
        padding-left: 400px;
        line-height: 10px;
        text-align: right;


        .switch {
            display: flex;



            .switch-item-1 {
                padding: 4px;
                background: #F0145A;
                border-radius: 8px;
                color: #fff;
                font-family: 'TT Norms Pro', sans-serif;
            }

            .switch-item-2 {
                padding-left: 10px;
                padding-top: 2.8px;
                color: #fff;
                font-family: 'TT Norms Pro', sans-serif;
            }

            .switch-item-3 {
                padding-left: 10px;
                padding-top: 2.8px;
                color: #fff;
                font-family: 'TT Norms Pro', sans-serif;
            }

            .dot {
                padding-left: 4px;
                color: #fff;
            }

            .address {
                padding-left: 6px;
                padding-top: 2.5px;
                color: #fff;
                font-family: 'TT Norms Pro', sans-serif;
            }

            .btm {
                font-size: 16px;
                padding-top: 2.2px;
                padding-left: 6px;
                color: #fff;
                font-family: 'TT Norms Pro', sans-serif;

                .mobil-a {
                    color: #fff;
                }
            }

            .facebook {
                padding-left: 6px;

            }

        }

    }

    .nav-item {
        font-size: 15px;
        text-align: right;
        letter-spacing: 1px;
        font-family: 'TT Norms Pro', sans-serif;

        .nav-item-a {
            text-decoration: none;
            padding-left: 5px;
            color: #fff;
        }

    }



}



.div-information {
    margin: 272px 0px 0px 0px;

    .text-information-1 {
        color: #fff;
        font-size: 38px;
        line-height: 45px;
        text-align: center;
        letter-spacing: 1.5px;
        font-family: 'TT Norms Pro', sans-serif;
    }

}

.sss {
    // padding-top: 300px;
    // padding-left: 558px;
    text-align: center;
    padding-top: 270px;


    .down-button {

        display: inline-block;
        padding: 20px;
        border-radius: 50%;
        border: 1px solid #FFFFFF;


        .birdie {
            width: 22px;
            height: 16px;
            bottom: 10px;
        }
    }

}

.scroll-block {
    display: flex;
    font-size: 38px;
    line-height: 65px;
    padding-bottom: 80px;



    .scroll-information {
        padding-left: 100px;
        padding-top: 60px;

        .text-scroll-color {
            background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            text-align: right;

        }

        .text-scroll {
            text-align: right;
            color: #B3B3BA;
        }
    }


    .line-1-1 {
        padding-top: 89px;
        padding-left: 100px;

        .line-1 {
            width: 50px;
            border: 2px solid #F0145A;
            transform: rotate(-90deg);
        }
    }

    .line-2-2 {
        padding-top: 145px;
        padding-left: 0px;

        .line-2 {
            width: 250px;
            border: 2px solid #E6E6F0;
            transform: rotate(-90deg);
        }
    }

    .text-information-sckroll {
        padding-top: 120px;

        .text-information-sckroll-1 {
            font-size: 29px;
            line-height: 35px;
            color: #ffffffe7;
            font-family: 'TT Norms Pro', sans-serif;
        }



    }

    .text-information-sckroll-2 {
        color: #ffffffe7;
        padding-top: 20px;
        font-size: 18px;
        line-height: 20px;
        font-family: 'TT Norms Pro', sans-serif;
    }

}

.services {


    .btm-services {
        .btm-a {
            font-size: 13px;
            color: #fff;
            opacity: 0.5;
            letter-spacing: 1px;
        }
    }

    .header-text-services {

        text-decoration: none;

        .header-text-services-1 {
            text-decoration: none;
            font-size: 42px;
            background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            padding-bottom: 60px;
        }
    }

    .services-information {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;



        .block-in-1 {
            width: 413px;
            margin-bottom: 60px;

            .photo-block {
                display: inline-block;
                padding: 8px;
                background: #FFFFFF;
                border-radius: 24px;
                margin-bottom: 20px;
            }

            .block-text-1 {
                color: #24A3FF;
                font-size: 25px;
                padding-bottom: 15px;

            }

            .text-services-information-1 {
                color: #fff;
                font-size: 19px;
                line-height: 25px;
                font-family: 'TT Norms Pro', sans-serif;
            }
        }

        .block-in-2 {
            width: 413px;
            padding-left: 20px;

            .photo-block {
                display: inline-block;
                padding: 8px;
                background: #FFFFFF;
                border-radius: 24px;
                margin-bottom: 20px;
            }

            .block-text-1 {
                color: #24A3FF;
                font-size: 25px;
                padding-bottom: 15px;

            }

            .text-services-information-1 {
                color: #fff;
                font-size: 19px;
                line-height: 25px;
                font-family: 'TT Norms Pro', sans-serif;
            }
        }

        .block-in-3 {
            width: 413px;
            padding-left: 20px;

            .photo-block {
                display: inline-block;
                padding: 8px;
                background: #FFFFFF;
                border-radius: 24px;
                margin-bottom: 20px;
            }

            .block-text-1 {
                color: #24A3FF;
                font-size: 25px;
                padding-bottom: 15px;

            }

            .text-services-information-1 {
                color: #fff;
                font-size: 19px;
                line-height: 25px;
                font-family: 'TT Norms Pro', sans-serif;
            }
        }

        .block-in-4 {
            width: 413px;

            .photo-block {
                display: inline-block;
                padding: 8px;
                background: #FFFFFF;
                border-radius: 24px;
                margin-bottom: 20px;
            }

            .block-text-1 {
                color: #24A3FF;
                font-size: 25px;
                padding-bottom: 15px;

            }

            .text-services-information-1 {
                color: #fff;
                font-size: 19px;
                line-height: 25px;
                font-family: 'TT Norms Pro', sans-serif;
            }
        }

        .block-in-5 {
            width: 413px;
            padding-left: 20px;

            .photo-block {
                display: inline-block;
                padding: 8px;
                background: #FFFFFF;
                border-radius: 24px;
                margin-bottom: 20px;
            }

            .block-text-1 {
                color: #24A3FF;
                font-size: 25px;
                padding-bottom: 15px;

            }

            .text-services-information-1 {
                color: #fff;
                font-size: 19px;
                line-height: 25px;
                font-family: 'TT Norms Pro', sans-serif;
            }
        }

        .block-in-6 {
            width: 413px;
            padding-left: 20px;

            .photo-block {
                display: inline-block;
                padding: 16.5px;
                background: #FFFFFF;
                border-radius: 24px;
                margin-bottom: 20px;
            }

            .block-text-1 {
                color: #24A3FF;
                font-size: 25px;
                padding-bottom: 15px;

            }

            .text-services-information-1 {
                color: #fff;
                font-size: 19px;
                line-height: 25px;
                font-family: 'TT Norms Pro', sans-serif;
            }
        }

    }

}






.carousel-indicators,
.botton {
    bottom: -50px;

}

.carousel-indicators [data-bs-target] {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #24A3FF;
    opacity: .2;
    border: none;
}

.carousel-indicators .active {
    opacity: 1;
}


.carousel-control-prev {
    display: none;
}

.carousel-control-next {
    display: none;
}

.carousel-inner {}


.wrap-block-carousel {
    display: flex;
    background: #F5F5FA;
    border-radius: 10px;

    .man-text {
        padding-top: 30px;
        padding-left: 20px;

        .text-header {
            color: #24A3FF;
            font-size: 14px;
        }

        .man-information {
            font-size: 42px;
            background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            line-height: 50px;
        }

        .nik {
            color: #B3B3BA;
            opacity: 0.9;
        }

    }

    img {
        width: 413px;

    }
}







.bloks-parent {
    margin-top: 70px;
    margin-bottom: 30px;
    border-radius: 15px;
    background: #F5F5FA;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 160px) 113px repeat(2, 227px) 433px;
    grid-template-rows: 57px repeat(2, 198px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 4;
    border-radius: 15px 0px 0px 0px;

    .text-div-1 {
        font-family: 'TT Norms Pro', sans-serif;
        font-size: 20px;
        padding-top: 12px;
        padding-left: 20px;
        color: #F0145A;
        letter-spacing: 0.5px;
    }
}

.div2 {
    grid-area: 2 / 1 / 3 / 4;

    .text-1-div-2 {
        padding-top: 48px;
        padding-left: 20px;
        font-size: 24px;
        line-height: 28px;
        color: #686887;
    }

    .text-2-div-2 {
        color: #B3B3BA;
        font-size: 18px;
        padding-left: 20px;
    }
}

.div3 {
    grid-area: 1 / 4 / 3 / 6;

    .text-1-div-3 {
        padding-top: 101px;
        padding-left: 20px;
        font-size: 24px;
        line-height: 28px;
        color: #686887;
    }

    .text-2-div-3 {
        color: #B3B3BA;
        font-size: 18px;
        padding-left: 20px;
    }

}

.div4 {
    grid-area: 1 / 6 / 3 / 7;
    border-radius: 0px 15px 0px 0px;

    .text-1-div-4 {
        padding-top: 100px;
        padding-left: 20px;
        font-size: 24px;
        line-height: 28px;
        color: #686887;
    }

    .text-2-div-4 {
        color: #B3B3BA;
        font-size: 18px;
        padding-left: 20px;
    }
}

.div5 {
    grid-area: 3 / 1 / 4 / 3;
    border-radius: 0px 0px 0px 15px;

    .text-1-div-5 {
        padding-top: 20px;
        padding-left: 20px;
        font-size: 24px;
        line-height: 28px;
        color: #686887;
    }

    .text-2-div-5 {
        color: #B3B3BA;
        font-size: 18px;
        padding-left: 20px;
    }

}

.div6 {
    grid-area: 3 / 3 / 4 / 5;

    .text-1-div-6 {
        padding-top: 78px;
        padding-left: 20px;
        font-size: 24px;
        line-height: 28px;
        color: #686887;
    }

    .text-2-div-6 {
        color: #B3B3BA;
        font-size: 18px;
        padding-left: 20px;
    }
}

.div7 {
    grid-area: 3 / 5 / 4 / 7;
    border-radius: 0px 0px 15px 0px;

    .text-1-div-7 {
        padding-top: 78px;
        padding-left: 20px;
        font-size: 24px;
        line-height: 28px;
        color: #686887;
    }

    .text-2-div-7 {
        color: #B3B3BA;
        font-size: 18px;
        padding-left: 20px;
    }
}

.item {
    border: 1.2px solid rgb(255, 255, 255);
}

.text-clients {
    text-align: center;
    padding-right: 5px;
    font-size: 22px;
    color: #323264;
    padding-bottom: 13px;
    letter-spacing: 0.5px;
}


.clients-block {
    padding-left: 5px;

    .clients-wrap {
        display: flex;
        flex-wrap: wrap;

        .clients-item {
            width: 25%;
        }

        .clients-item img {
            width: 100%;
        }
    }
}


.publications-block {
    height: 1165px;
    background: #F5F5FA;



    .header-block {
        display: block;
        line-height: 37px;

        .text-header-1 {
            padding-top: 40px;
            padding-left: 140px;
            color: #24A3FF;
            font-size: 17px;
        }

        .text-header-2 {
            font-size: 42px;
            padding-left: 137px;
            background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }

    }

    .item-block {

        .item-block-1 {
            background: #FFFFFF;
            display: inline-block;
            padding: 15px;
            border-radius: 12px;


.text-1-block1{
    font-size: 18px;
    color: #24A3FF;

}

.text-2-block1{
    font-size: 12px;
    color: #B3B3BA;
}

.text-3-block1{
    font-size: 16px;
    

}

            .line-block {

                padding-top: 5px;
                padding-bottom: 20px;

                .line-block-1 {
                    border: 4px solid #E6E6F0;
                }
            }

        }
    
        .item-block-2{
            background: #FFFFFF;
            display: inline-block;
            border-radius: 12px;


            .text-1-block2{
                font-size: 18px;
                color: #24A3FF;
                padding: 10px 10px 0px 15px;
            }
            
            .text-2-block2{
                font-size: 12px;
                color: #B3B3BA;
                padding: 0px 10px 0px 15px;
            }
            
            .text-3-block2{
                font-size: 16px;
                padding: 0px 10px 0px 15px;
            }


            .line-block {
                padding-top: 5px;
                padding-bottom: 20px;

                .line-block-2 {
                    width: 390px;
                    border: 4px solid #E6E6F0;
                    margin-left: 11px;
                }
            }
        }





        .item-block-3{
            background: #FFFFFF;
            display: inline-block;
            border-radius: 12px;


            .text-1-block3{
                font-size: 18px;
                color: #24A3FF;
                padding: 10px 10px 0px 15px;
            }
            
            .text-2-block3{
                font-size: 12px;
                color: #B3B3BA;
                padding: 0px 10px 0px 15px;
            }
            
            .text-3-block3{
                font-size: 16px;
                padding: 0px 10px 0px 15px;
            }


            .line-block {
                padding-top: 5px;
                padding-bottom: 20px;

                .line-block-3 {
                    width: 390px;
                    border: 4px solid #E6E6F0;
                    margin-left: 11px;
                }
            }
        }








        
        
    }
}