@import "./mixins";

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;


}

ol,
ul {
    list-style: none;
}

.conteiner {
    max-width: 1320px;
    margin: 0 auto;
}

.first {
    background:
        url(../images/Shade.png) repeat-x center bottom,
        url(../images/SymbolLongleg.png) no-repeat center bottom,
        url(../images/Frame2.svg) no-repeat center bottom,
        linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
}

.two {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    border-radius: 0px 0px 12px 12px;
    position: relative;
    margin-bottom: 100px;
}

.two::before {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 10px;
    background: url("../images/Bg.png") no-repeat center center;
    background-size: 98%;
    display: block;
    margin: auto;
    border-radius: 0px 0px 20px 20px;
}

.two::after {
    content: "";
    position: absolute;
    bottom: -20px;
    width: 100%;
    height: 10px;
    background: url("../images/Bg-2.png") no-repeat center center;
    background-size: 96%;
    display: block;
    margin: auto;
    border-radius: 0px 0px 20px 20px;
}

.first-about {
    background: #fff;
}

.logo-p-about {
    color: #323264;
    font-size: 39px;
}

.logo-item-about {
    color: #323264;
    font-size: 29px;
    padding-left: 4px;
}

.logo-coment-about {
    color: #323264;
}

.map-header-about {
    color: #B3B3BA;
    display: flex;

    .switch-landuades-about {
        display: flex;

        .switch-item-1-about {
            padding: 4px;
            background: #F0145A;
            border-radius: 8px;
            color: #B3B3BA;
            font-family: 'TT Norms Pro', sans-serif;
        }

        .switch-item-2-about {
            padding-left: 10px;
            padding-top: 2.8px;
            color: #B3B3BA;
            font-family: 'TT Norms Pro', sans-serif;
        }

        .switch-item-3-about {
            padding-left: 10px;
            padding-top: 2.8px;
            color: #B3B3BA;
            font-family: 'TT Norms Pro', sans-serif;
        }

    }

    .dot-about {
        padding-left: 4px;
        color: #B3B3BA;
    }

    .address-about {
        padding-left: 6px;
        padding-top: 2.5px;
        color: #B3B3BA;
        font-family: 'TT Norms Pro', sans-serif;
    }

    .btm-about {
        padding-top: 2.5px;

        .mobil-a-about {
            color: #B3B3BA;
            padding-left: 6px;
            padding-top: 7.5px;
        }
    }

    .facebook-about {
        padding-left: 10px;
        color: #000;

        .facebook-img-about {
            color: #000;

        }
    }
}

.navitem-about {
    display: inline-block;
    color: #000;
    font-size: 15px;
    text-align: right;
    letter-spacing: 1px;
    font-family: 'TT Norms Pro', sans-serif;
    padding-left: 5px;
}

.line-2-2-about {
    display: inline-block;
    padding-top: 150px;
    padding-left: 0px;


    .line-2-about {
        display: block;
        width: 270px;
        border: 2px solid #E6E6F0;
        transform: rotate(-90deg);
    }
}

.two-about {
    padding-top: 100px;
    padding-bottom: 100px;
}

.text-scroll-color-about {
    font-size: 46px;
    background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: left;
    line-height: 48px;
}

.text-scroll-about {
    text-align: left;
    font-size: 18px;
    line-height: 27px;
    width: 600px;
}

.scroll-block-about {
    display: flex;
}

.text-information-sckroll-about {
    text-align: top;
    padding-left: 0px;
    padding-top: 20px;
}


.information-team-text{
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
font-size: 42px;
line-height: 40px;
}

.wrap-team-text{
    padding-left: 350px;
    padding-top: 82px;
    padding-bottom: 30px;
}

.name-staff{
    font-size: 21px;
    color: #323264;
}
.position-staff{
    color: #B3B3BA;
    font-size: 16px;
}

.wrap-btm-staff{
padding-top: 15px;
padding-left: 70px;

.btm-block-staff{
    display: inline-block;
    border-radius: 50%;
    padding: 10px 18px 0px 18px ;
    padding-bottom: 0px;
    background: #F5F5FA;
}}

.wrap-text-staff{
    display: flex;
}

.item-staff{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.team-worker{
    padding-top: 82px;
    padding-left: 100px;
    display: flex;
}
.information-worker{



.name-worker{
padding-left: 35px;
    .name{
        background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-size: 42px;
    }
}

.contacts{
display: flex;

.position{
    font-size: 16px;
    color: #B3B3BA;
    padding-left: 40px;
}

.mail{
    font-size: 16px;
    color: #24A3FF;
}
.dot{
    padding-left: 10px;
    padding-right: 10px;
}
}

.line{
    margin-left: 41px;
    border: 2px solid #E6E6F0;
    width: 600px;
}

.information-worker-text{
    padding-top: 20px;
    padding-left: 39px;
    font-size: 18px;
}


}

.item-worker-text{
    font-size: 16px;
    color: #323264;
    padding-left: 39px;
    padding-top: 20px;
}
.item-worker-text-1{
  font-size: 18px;
  padding-left: 39px;
}
.item-worker-text-2{
    font-size: 16px;
    color: #323264;
    padding-left: 39px;
    padding-top: 20px;
  }
  .item-worker-text-3{
    font-size: 18px;
  padding-left: 39px;
  }


.header-block {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    text-decoration: none;

    .header-logo {
        line-height: 20px;

        .logo {
            display: flex;
            letter-spacing: 0.3px;
        }

        .h {
            font-size: 39px;
            display: inline-block;
            color: #F0145A;
        }

        .logo-p {
            font-size: 39px;
            color: #fff;
            text-decoration: none;
        }

        .logo-coment {
            font-size: 14.5px;
            color: #fff;
            font-family: 'TT Norms Pro', sans-serif;
        }
    }



    .header-contacts {
        padding-left: 400px;
        line-height: 10px;
        text-align: right;


        .map-header {
            display: flex;


            .switch-landuades {
                display: flex;

                .switch-item-1 {
                    padding: 4px;
                    background: #F0145A;
                    border-radius: 8px;
                    color: #fff;
                    font-family: 'TT Norms Pro', sans-serif;
                }

                .switch-item-2 {
                    padding-left: 10px;
                    padding-top: 2.8px;
                    color: #fff;
                    font-family: 'TT Norms Pro', sans-serif;
                }

                .switch-item-3 {
                    padding-left: 10px;
                    padding-top: 2.8px;
                    color: #fff;
                    font-family: 'TT Norms Pro', sans-serif;
                }
            }

            .dot {
                padding-left: 4px;
                color: #fff;
            }

            .address {
                padding-left: 6px;
                padding-top: 2.5px;
                color: #fff;
                font-family: 'TT Norms Pro', sans-serif;
            }

            .btm {
                font-size: 16px;
                padding-top: 2.2px;
                padding-left: 6px;
                color: #fff;
                font-family: 'TT Norms Pro', sans-serif;

                .mobil-a {
                    color: #fff;
                }
            }

            .facebook {
                padding-left: 6px;

            }

        }

    }



    .nav-item {
        font-size: 15px;
        text-align: right;
        letter-spacing: 1px;
        font-family: 'TT Norms Pro', sans-serif;

        .navitem {
            display: inline-block;

            .nav-item-a {
                font-family: 'TT Norms Pro', sans-serif;
                text-decoration: none;
                padding-left: 5px;
                color: #fff;
            }

            .menu-header {
                transition: 1s ease-in-out;
            }

        }




        .burger {
            cursor: pointer;
            position: relative;
            width: 35px;
            height: 35px;

            //   display: none;
            .burger-line {
                transition: .5s;
                width: 40px;
                height: 3px;
                background: #000;
                margin: 5px;
            }
        }

        .burger.active div:nth-child(2) {
            display: none;
        }

        .burger.active div:nth-child(1) {
            transform: rotate(45deg);
        }

        .burger.active div:nth-child(3) {
            transform: rotate(-45deg);
        }

        .burger.active div {
            position: absolute;
            transition: .5s ease-in-out;
        }
    }

    .hidden {
        overflow: hidden;
    }

}




.first-service-page{
    background-image: url(../images/Cover-2.png);
   
}

.two-service-page{
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%); 
    position: relative;
}

.img-it{
    padding: 8px;
    background: #fff;
    border-radius: 20px;
}

.it-information-img{
    padding-left: 600px;
    padding-top: 2px;
}

.h1-it-information{
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
font-size: 42px;
padding-left: 400px;
font-family: 'TT Norms Pro', sans-serif;
}



.wrap-text-it{
padding-right: 50px;
}
.text-it-information{
  text-align: center;
  font-size: 21px;
  color: #fff;
  font-family: 'TT Norms Pro', sans-serif;
  padding-bottom: 0px;
  margin-bottom: 0px;
}


.wrap-btm-it{
    padding-top: 52px;
padding-left: 523.5px;

    .btm-it{
        font-size: 14px;
        padding: 15px 17px 15px 17px;
        background: #24A3FF;
        border-radius: 20px;
    }
}
.wrap-text-it-2{
    padding-top: 10px;
}

.line-block-it{
    border: 4px solid #F5F5FA;
    border-radius: 2px;
    
}

.wrap-line-block-it{
    margin-top: 90px;
    margin-right: 50px;
    margin-left: 55px;
}
.wrap-header-block{
    padding-top: 20px;
padding-left: 53.8px;

.service-header{
    font-size: 24px;
    color: #fff;

}}


.block-item-information{
    display: flex;
    padding-left: 120px;
padding-bottom: 80px;
    .blocks-item-2{
        padding-left: 84px;
    }
}


.item-block-it{
    display: flex;

    .Dot-separator{
        padding-right: 10px;
    }
    .item-text-it{
        font-size: 18px;
        color: #fff;
    }
}







.two-service-page::before {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 10px;
    background: url("../images/Bg.png") no-repeat center center;
    background-size: 98%;
    display: block;
    margin: auto;
    border-radius: 0px 0px 20px 20px;
}

.two-service-page::after {
    content: "";
    position: absolute;
    bottom: -20px;
    width: 100%;
    height: 10px;
    background: url("../images/Bg-2.png") no-repeat center center;
    background-size: 96%;
    display: block;
    margin: auto;
    border-radius: 0px 0px 20px 20px;
}















.div-information {
    margin: 272px 0px 0px 0px;

    .text-information-1 {
        color: #fff;
        font-size: 38px;
        line-height: 45px;
        text-align: center;
        letter-spacing: 1.5px;
        font-family: 'TT Norms Pro', sans-serif;
    }

}

.time-photo {
    padding-bottom: 80px;
}

.more-text {
    display: flex;
    padding-bottom: 93px;
}

.more-text-1 {
    padding-left: 100px;
    font-size: 21px;
    font-family: 'TT Norms Pro', sans-serif;
}

.more-text-2 {
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 42px;
    line-height: 42px;
    padding-left: 40px;
}

.four-about {
    background: #F5F5FA;
    padding-bottom: 100px;
}

.text-heager-carousel {
    text-align: center;
    font-size: 16px;
    color: #323264;
    padding-top: 20px;
}

.item-compani-img-1 {
    padding: 25px 110px 24px 110px;
    background: #fff;
    border-radius: 20px;
    width: 100%;
}

.item-compani-img-2 {
    padding: 25px 71px 24px 70px;
    background: #fff;
    border-radius: 20px;
}

.item-compani-img-3 {
    padding: 25px 53px 24px 52px;
    background: #fff;
    border-radius: 20px;
}

.item-compani-img-4 {
    padding: 25px 67px 24px 67px;
    background: #fff;
    border-radius: 20px;
}


.item-compani {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.paginationn {
    padding-top: 30px;
    text-align: center;
}

.separator {
    border: 4px solid #E6E6F0;
    border-radius: 6px;
}

.separator-wrap {
    padding-top: 32px;
}





.circle-button {
    text-align: center;
    padding-top: 270px;


    .down-button {

        display: inline-block;
        padding: 20px;
        border-radius: 50%;
        border: 1px solid #FFFFFF;


        .birdie {
            width: 22px;
            height: 16px;
            bottom: 10px;
        }
    }

}

.scroll-block {
    display: flex;
    font-size: 38px;
    line-height: 65px;
    padding-bottom: 80px;



    .scroll-information {
        padding-left: 100px;
        padding-top: 60px;

        .text-scroll-color {
            background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            text-align: right;

        }

        .text-scroll {
            text-align: right;
            color: #B3B3BA;
        }
    }


    .line-1-1 {
        padding-top: 89px;
        padding-left: 100px;

        .line-1 {
            width: 50px;
            border: 2px solid #F0145A;
            transform: rotate(-90deg);
        }
    }

    .line-2-2 {
        padding-top: 145px;
        padding-left: 0px;

        .line-2 {
            width: 250px;
            border: 2px solid #E6E6F0;
            transform: rotate(-90deg);
        }
    }

    .text-information-sckroll {
        padding-top: 120px;

        .text-information-sckroll-1 {
            font-size: 29px;
            line-height: 35px;
            color: #ffffffe7;
            font-family: 'TT Norms Pro', sans-serif;
        }
    }

    .text-information-sckroll-2 {
        color: #ffffffe7;
        padding-top: 20px;
        font-size: 18px;
        line-height: 20px;
        font-family: 'TT Norms Pro', sans-serif;
    }

}

.services {


    .btm-services {
        .btm-a {
            font-size: 13px;
            color: #fff;
            opacity: 0.5;
            letter-spacing: 1px;
        }
    }

    .header-text-services {

        text-decoration: none;

        .header-text-services-1 {
            text-decoration: none;
            font-size: 42px;
            background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            padding-bottom: 60px;
        }
    }

    .services-information {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;



        .block-in-1 {
            width: 413px;
            margin-bottom: 60px;

            .photo-block {
                display: inline-block;
                padding: 8px;
                background: #FFFFFF;
                border-radius: 24px;
                margin-bottom: 20px;
            }

            .block-text-1 {
                color: #24A3FF;
                font-size: 25px;
                padding-bottom: 15px;

            }

            .text-services-information-1 {
                color: #fff;
                font-size: 19px;
                line-height: 25px;
                font-family: 'TT Norms Pro', sans-serif;
            }
        }

        .block-in-2 {
            width: 413px;
            padding-left: 20px;

            .photo-block {
                display: inline-block;
                padding: 8px;
                background: #FFFFFF;
                border-radius: 24px;
                margin-bottom: 20px;
            }

            .block-text-1 {
                color: #24A3FF;
                font-size: 25px;
                padding-bottom: 15px;

            }

            .text-services-information-1 {
                color: #fff;
                font-size: 19px;
                line-height: 25px;
                font-family: 'TT Norms Pro', sans-serif;
            }
        }

        .block-in-3 {
            width: 413px;
            padding-left: 20px;

            .photo-block {
                display: inline-block;
                padding: 8px;
                background: #FFFFFF;
                border-radius: 24px;
                margin-bottom: 20px;
            }

            .block-text-1 {
                color: #24A3FF;
                font-size: 25px;
                padding-bottom: 15px;

            }

            .text-services-information-1 {
                color: #fff;
                font-size: 19px;
                line-height: 25px;
                font-family: 'TT Norms Pro', sans-serif;
            }
        }

        .block-in-4 {
            width: 413px;

            .photo-block {
                display: inline-block;
                padding: 8px;
                background: #FFFFFF;
                border-radius: 24px;
                margin-bottom: 20px;
            }

            .block-text-1 {
                color: #24A3FF;
                font-size: 25px;
                padding-bottom: 15px;

            }

            .text-services-information-1 {
                color: #fff;
                font-size: 19px;
                line-height: 25px;
                font-family: 'TT Norms Pro', sans-serif;
            }
        }

        .block-in-5 {
            width: 413px;
            padding-left: 20px;

            .photo-block {
                display: inline-block;
                padding: 8px;
                background: #FFFFFF;
                border-radius: 24px;
                margin-bottom: 20px;
            }

            .block-text-1 {
                color: #24A3FF;
                font-size: 25px;
                padding-bottom: 15px;

            }

            .text-services-information-1 {
                color: #fff;
                font-size: 19px;
                line-height: 25px;
                font-family: 'TT Norms Pro', sans-serif;
            }
        }

        .block-in-6 {
            width: 413px;
            padding-left: 20px;

            .photo-block {
                display: inline-block;
                padding: 16.5px;
                background: #FFFFFF;
                border-radius: 24px;
                margin-bottom: 20px;
            }

            .block-text-1 {
                color: #24A3FF;
                font-size: 25px;
                padding-bottom: 15px;

            }

            .text-services-information-1 {
                color: #fff;
                font-size: 19px;
                line-height: 25px;
                font-family: 'TT Norms Pro', sans-serif;
            }
        }

    }

}

.footer{
    color: #F5F5FA;
}

.carousel-indicators,
.botton {
    bottom: -50px;

}

.carousel-indicators [data-bs-target] {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #24A3FF;
    opacity: .2;
    border: none;
}

.carousel-indicators .active {
    opacity: 1;
}


.carousel-control-prev {
    display: none;
}

.carousel-control-next {
    display: none;
}

.carousel-inner {}


.wrap-block-carousel {
    display: flex;
    background: #F5F5FA;
    border-radius: 10px;

    .man-text {
        padding-top: 30px;
        padding-left: 20px;

        .text-header {
            color: #24A3FF;
            font-size: 14px;
        }

        .man-information {
            font-size: 42px;
            background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            line-height: 50px;
        }

        .nik {
            color: #B3B3BA;
            opacity: 0.9;
        }

    }

    img {
        width: 413px;

    }
}







.bloks-parent {
    margin-top: 70px;
    margin-bottom: 30px;
    border-radius: 15px;
    background: #F5F5FA;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 160px) 113px repeat(2, 227px) 433px;
    grid-template-rows: 57px repeat(2, 198px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 4;
    border-radius: 15px 0px 0px 0px;

    .text-div-1 {
        font-family: 'TT Norms Pro', sans-serif;
        font-size: 20px;
        padding-top: 12px;
        padding-left: 20px;
        color: #F0145A;
        letter-spacing: 0.5px;
    }
}

.div2 {
    grid-area: 2 / 1 / 3 / 4;

    .text-1-div-2 {
        padding-top: 48px;
        padding-left: 20px;
        font-size: 24px;
        line-height: 28px;
        color: #686887;
    }

    .text-2-div-2 {
        color: #B3B3BA;
        font-size: 18px;
        padding-left: 20px;
    }
}

.div3 {
    grid-area: 1 / 4 / 3 / 6;

    .text-1-div-3 {
        padding-top: 101px;
        padding-left: 20px;
        font-size: 24px;
        line-height: 28px;
        color: #686887;
    }

    .text-2-div-3 {
        color: #B3B3BA;
        font-size: 18px;
        padding-left: 20px;
    }

}

.div4 {
    grid-area: 1 / 6 / 3 / 7;
    border-radius: 0px 15px 0px 0px;

    .text-1-div-4 {
        padding-top: 100px;
        padding-left: 20px;
        font-size: 24px;
        line-height: 28px;
        color: #686887;
    }

    .text-2-div-4 {
        color: #B3B3BA;
        font-size: 18px;
        padding-left: 20px;
    }
}

.div5 {
    grid-area: 3 / 1 / 4 / 3;
    border-radius: 0px 0px 0px 15px;

    .text-1-div-5 {
        padding-top: 20px;
        padding-left: 20px;
        font-size: 24px;
        line-height: 28px;
        color: #686887;
    }

    .text-2-div-5 {
        color: #B3B3BA;
        font-size: 18px;
        padding-left: 20px;
    }

}

.div6 {
    grid-area: 3 / 3 / 4 / 5;

    .text-1-div-6 {
        padding-top: 78px;
        padding-left: 20px;
        font-size: 24px;
        line-height: 28px;
        color: #686887;
    }

    .text-2-div-6 {
        color: #B3B3BA;
        font-size: 18px;
        padding-left: 20px;
    }
}

.div7 {
    grid-area: 3 / 5 / 4 / 7;
    border-radius: 0px 0px 15px 0px;

    .text-1-div-7 {
        padding-top: 78px;
        padding-left: 20px;
        font-size: 24px;
        line-height: 28px;
        color: #686887;
    }

    .text-2-div-7 {
        color: #B3B3BA;
        font-size: 18px;
        padding-left: 20px;
    }
}

.item {
    border: 1.2px solid rgb(255, 255, 255);
}

.text-clients {
    text-align: center;
    padding-right: 5px;
    font-size: 22px;
    color: #323264;
    padding-bottom: 13px;
    letter-spacing: 0.5px;
}


.clients-block {
    padding-left: 5px;

    .clients-wrap {
        display: flex;
        flex-wrap: wrap;

        .clients-item {
            width: 25%;
        }

        .clients-item img {
            width: 100%;
        }
    }
}



.publications-block::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 200px;
    background: url(../images/Shade0000.png) repeat-x;
    bottom: 0;
}



.publications-block {
    height: 840px;
    background: #F5F5FA;
    overflow: hidden;
    position: relative;


    .header-block {
        display: block;
        line-height: 40px;

        .text-header-1 {
            padding-top: 40px;
            padding-left: 10px;
            color: #24A3FF;
            font-size: 17px;
        }

        .text-header-2 {
            font-size: 42px;
            padding-left: 10px;
            background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }

    }

    .item-block {
        display: grid;
        grid-template-columns: repeat(3, 413px);
        grid-auto-rows: 225px 64px 147px 34px 203px;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        gap: 3px;

        .item-block-1 {
            background: #FFFFFF;
            display: inline-block;
            padding: 13px;
            border-radius: 12px;


            .text-1-block1 {
                font-size: 18px;
                color: #24A3FF;

            }

            .text-2-block1 {
                font-size: 12px;
                color: #B3B3BA;
            }

            .text-3-block1 {
                font-size: 16px;


            }

            .line-block {
                padding-bottom: 10px;

                .line-block-1 {
                    border: 4px solid #E6E6F0;

                }
            }

        }

        .item-block-2 {
            background: #FFFFFF;
            display: inline-block;
            border-radius: 12px;

            .item-block-2-img-1 {
                width: 100%;
            }

            .text-1-block2 {
                font-size: 18px;
                color: #24A3FF;
                padding: 5px 10px 0px 15px;
            }

            .text-2-block2 {
                font-size: 12px;
                color: #B3B3BA;
                padding: 0px 10px 0px 15px;
            }

            .text-3-block2 {
                font-size: 16px;
                padding: 0px 10px 0px 15px;
            }


            .line-block {
                padding-top: 0px;
                padding-bottom: 0px;

                .line-block-2 {
                    width: 390px;
                    border: 4px solid #E6E6F0;
                    margin-left: 11px;
                    margin-bottom: 10px;
                }
            }
        }



        .item-block-3 {

            display: inline-block;
            border-radius: 12px;

            .item-block-2-img-2 {
                width: 100%;
            }

            .text-1-block2 {
                font-size: 18px;
                color: #24A3FF;
                padding: 5px 10px 0px 15px;
            }

            .text-2-block2 {
                font-size: 12px;
                color: #B3B3BA;
                padding: 0px 10px 0px 15px;
            }

            .text-3-block2 {
                font-size: 16px;
                padding: 0px 10px 0px 15px;
            }


            .line-block {
                padding-top: 0px;
                padding-bottom: 0px;

                .line-block-2 {
                    width: 390px;
                    border: 4px solid #E6E6F0;
                    margin-left: 11px;

                }
            }
        }





        .item-block-3 {
            background: #FFFFFF;
            display: inline-block;
            border-radius: 12px;

            .item-block-2-img-2 {
                width: 100%;
            }

            .text-1-block3 {
                font-size: 18px;
                color: #24A3FF;
                padding: 10px 10px 0px 15px;
            }

            .text-2-block3 {
                font-size: 12px;
                color: #B3B3BA;
                padding: 0px 10px 0px 15px;
            }

            .text-3-block3 {
                font-size: 16px;
                padding: 0px 10px 0px 15px;
            }


            .line-block {
                padding-top: 5px;
                padding-bottom: 20px;

                .line-block-3 {
                    width: 390px;
                    border: 4px solid #E6E6F0;
                    margin-left: 11px;
                    // overflow: hidden;
                }
            }

        }





        .item-block-5 {
            .item-block-2-img-2 {
                width: 100%;
            }

            .text-1-block3 {
                font-size: 18px;
                color: #24A3FF;
                padding: 6px 10px 0px 15px;
            }

            .text-2-block3 {
                font-size: 12px;
                color: #B3B3BA;
                padding: 0px 10px 0px 15px;
            }

            .text-3-block3 {
                font-size: 16px;
                padding: 0px 10px 0px 15px;
            }


            .line-block {

                padding-bottom: 10px;

                .line-block-3 {
                    width: 390px;
                    border: 4px solid #E6E6F0;
                    margin-left: 11px;
                    overflow: hidden;
                }
            }
        }





        .item-block-5 {
            background: #FFFFFF;
            border-radius: 10px;
        }





        .box {
            padding: 10px;
        }

        .item-1 {
            grid-area: 1 / 1 / 3 / 2;
        }

        .item-2 {
            grid-area: 1 / 2 / 4 / 3;
        }

        .item-3 {
            grid-area: 3 / 1 / 6 / 2;
        }

        .item-4 {
            grid-area: 4 / 2 / 6 / 3;
        }

        .item-5 {
            grid-area: 1 / 3 / 4 / 4;
        }

        .item-6 {
            grid-area: 4 / 3 / 6 / 4;
        }

        .box1 {
            padding: 20px 20px 0px 20px;
        }

        .box2 {
            padding: 20px 20px 20px 20px;
        }

        .box5 {
            padding: 20px 20px 0px 20px;
        }

        .box22 {
            padding: 10px 20px 17px 20px;
        }






    }
}

.text-footer {
    display: flex;

    .item-footer-1 {
        display: flex;

        .addres-footer {
            font-size: 16px;
            color: #323264;
            padding-top: 39px;
            padding-right: 47px;
        }

        .btm-footer-1 {
            font-size: 12px;
            color: #24A3FF;
            padding-top: 42px;
        }

        .dot-one {
            padding-top: 37.2px;
            padding-right: 8px;
        }
    }

    .item-footer-2 {

        .text-footer-information {
            padding-left: 550px;
            padding-top: 37px;
            font-size: 16px;
            color: #B3B3BA;
        }
    }




}




.item-footer-3 {
    display: flex;

    .tel-footer {
        font-family: 'TT Norms Pro', sans-serif;
        margin-left: 30px;
        padding-top: 6px;
        font-size: 16px;
    }

    .dot-two {
        padding-top: 10px;
        padding-left: 10px;
    }

    .mail {
        color: #24A3FF;
        font-size: 16px;
        margin-top: 10px;
        padding-left: 10px;
    }

    .wrap-mail {
        padding-top: 6px;
    }

}





.item-block-2-img-3 {
    width: 100%;
    padding-top: 5px;
    background: #F5F5FA;
}

.item-block-2-img-4 {
    width: 100%;
    padding-top: 23px;
}



.first-service {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    border-radius: 0px 0px 12px 12px;
    position: relative;
    margin-bottom: 100px;
}

.first-service::before {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 10px;
    background: url("../images/Bg.png") no-repeat center center;
    background-size: 98%;
    display: block;
    margin: auto;
    border-radius: 0px 0px 20px 20px;
}

.header-text-services-1 {
    padding-top: 40px;
    padding-left: 10px;
}

.logo-slesh {
    color: #F0145A;
    font-size: 39px;
    padding-left: 3px;
}

.logo-item-page {
    font-size: 29px;
    color: #fff;
    padding-left: 3px;
}

.logo-img-item {
    height: 10px;
}

.logo-btm {
    display: flex;
}